body {
    font-family: 'Playfair Display', serif, sans-serif;
    background-color: rgb(84, 33, 44);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    /* İşte sihirli değnek bu: Elemanları alt alta dizer */
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 30px;
}

.cards-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.date-card {
    background-color: #241A16;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0 !important;
    overflow: hidden;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: 100%;
    height: 100%;
}
.card-link h1 {
    margin: 0;
    padding: 0;
}

.date-card:active {
    transform: scale(0.85);
}

.date-card h1 {
    color: #DBC5AD;
    margin-top: 10;
}

.date-card:hover {

    box-shadow: 0 15px 30px rgba(0,0,0,0.2); 
    transform: translateY(-10px); 
}

.card-container {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.profile-circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgb(229, 213, 196);
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-box {
  background-color: #DBC5AD;
  padding: 15px 25px 15px 100px;
  margin-left: -100px;
  border-radius: 0 50px 50px 0;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  flex-grow: 1;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.05);
}

.description-box p {
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  font-family: 'Playfair Display', serif, sans-serif;
  color: #241A16;

}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 2rem;
    color: #DBC5AD;
    font-weight: bold;
}
